 *{
    margin: 0;
    padding: 0;
    font: bold small-caps bold 12px/30px Georgia, serif;
    color: #c8c8c8;
}

.background {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,10,25,1), rgba(0,10,25,0.4)),url(usrowing_logo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.padding {
    padding:  0rem 0rem 0rem 3rem;

}

/* NAVIGATION */

.nav-links {
    display: inline-block;
    flex: 1;
    padding: 2% 6%;
    text-align: right;
    justify-content: center;
    color: #fff;
}
#index {
    display: flex;
    text-align: center;
}


.nav-item{
    display: inline-block;
    font-size: 15px;
    list-style: none;
    color: #fff;
    appearance: auto;
    text-align: center;
    padding:  0rem 0rem 1.5rem 3rem;
    position: relative;

}
#register{
    padding:  0rem 0rem 1rem 0rem;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center
}


.title{
    font-size: 40px;
    text-align: center;
    padding:  0rem 0rem 3rem;
    position: relative;

}

.position-relative {
    position: relative;
}


.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn {
    padding: 0.75rem .375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background: transparent;
    border-width: 1px;
    border-color: transparent;
    border-radius: 0.375rem;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    opacity: 0.65;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.selector {
    width: 350px;
}
#selectField {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 2px;
    box-sizing: border-box;
    background: rgb(0, 10, 30, 0.7);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#selectField img{
    width: 15px;
    transition: transform 0.4s;
}
#list {
    width: 100%;
    background: rgb(0, 10, 30, 0.7);
    border-radius: 6px;
    overflow: hidden;
}

.options {
    width: 100%;
    padding: 4px;
    border-radius: 6px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
}

.options:hover{
    background: rgb(0, 10, 30, 0.7);

}

.hide {
    visibility: hidden;
}

.rotate {
    transform: rotate(180deg);
}

.apology{
    color: red;
    font-size: 1rem;
    font-weight: 400;
}

table {
    margin-right: 2rem;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    font-size: 8px

}

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
#logout {
    display: flex;
    padding: 1rem 0rem 0.5rem;
}