
{% extends "layout.html" %}

{% block title %}
    Data
{% endblock %}

{% block main %}

<div>
    <h2>All Data</h2>
    <table >
        <thead>
            <tr>
                <th>Event</th>
                <th>Athlete</th>
                <th>Distance</th>
                <th>Time</th>
                <th>Classification</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Loop through database entries to display them in table -->
            {% for row in data %}
                <tr>
                    <td>{{ row.event }}</td>
                    <td>{{ row.athlete }}</td>
                    <td>{{ row.distance }}</td>
                    <td>{{ row.time }}</td>
                    <td>{{ row.classification }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}